<% provide :title, t(".about") %>
<h1><%= t "static_pages.app_name" %></h1>
<p>
  <%= t ".intro1" %>
  <%= link_to t("static_pages.railstutorial"), "http://railstutorial.org/" %>
  <%= t ".intro2" %>
</p>
